<!doctype html>
<html lang="en" ng-app="searchApp">
  <head>
    <meta charset="utf-8">
    <title>Nordea Venue Search Task</title> 

    <script src="js/angular.js"></script>    
    <script src="js/searchScript.js"></script>       
  </head>
  <body ng-controller="SearchCtrl">
  	<form>
  		Please enter a serch keyword : <input type="text" ng-change="setConfig()" ng-model="searchKey">
  		<br/>
  		<span ng-show="(venueList.length>5)">Choose a limit :</span>
  		<div ng-show="(venueList.length>5)">
	  		<input type="radio" ng-model="venueListLimit" value="5">5		
		</div>
		<div ng-show="(venueList.length>10)">  		
			<input type="radio" ng-model="venueListLimit" ng-show="(venueList.length>10)" value="10">10		
		</div>
  	</form>
  	<div>
  		<ul>
  			<li ng-repeat="venue in venueList | limitTo:venueListLimit | orderBy:venue.location.distance">{{venue.name + ", " + venue.location.address + ", " + venue.location.distance + " meters"}}</li>
  		</ul>
  	</div>  	
  </body>
</html>
